<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>

<body>
    <ul class="clearfix">
        <li><a href="/login"><span class="tab-reg"></span>登录</a></li>
        <li><a href="/register"><span class="tab-reg"></span>注册</a></li>
    </ul>
     
    <form id="login-form">
        <ul>
            <li>
                <label>邮箱/手机：</label>
                <input type="text" name="email_phone" id="email_phone" placeholder="请输入邮箱/手机号码"/>
            </li>
            <li>
                <label>密码：</label>
                <input type="text" name="pwd" id="pwd" placeholder="请输入密码"/>
            </li>
            <li>
                <a href="/forget_pwd"> 忘记密码？</a>
            </li>

            <li><input type="button" value="立即登录" id="login_btn"/></li>
        </ul>
    </form>
</body>

</html>
