<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Dashboard Template for Bootstrap</title>
</head>

<body>
    <table class="table table-striped">
        <tbody>
            {{ each user }}
            <tr>
                <td>{{ $value.username }}</td>
                <td>{{ $value.email}}</td>
                <td>
                    <a href="/user_center/edit?id={{ $value.email }}">编辑</a>
                </td>
            </tr>
            {{ /each }}
        </tbody>
    </table>
</body>

</html>
