<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>Dashboard Template for Bootstrap</title>
</head>

<body>
    <form action="/user_center/edit" method="post">
        {{ each user }}
        <input type="hidden" name="id" value="{{ $value._id }}">
        <div class="form-group">
          <label for="">姓名</label>
          <input type="text" class="form-control" id="" name="username:" required minlength="2" maxlength="10" value="{{ $value.username }}">
        </div>
        <div class="form-group">
          <label for="">身份</label>
          <input type="text" class="form-control" id="" name="identity:" required minlength="2" maxlength="10" value="{{ $value.identity }}">
        </div>
        <div class="form-group">
          <label for="">电话</label>
          <input class="form-control" type="number" id="" name="phone" required minlength="2" maxlength="10" value="{{ $value.phone }}" >
        </div>
        <div class="form-group">
          <label for="">意向</label>
          <input class="form-control" type="text" id="" name="intenden_position" value="{{ $value.intenden_position }}">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        {{ /each }}
      </form>


</body>

</html>
